h1 {
    text-align: center;
    padding: 20px;
}
table {
    width: 100%;
}
th.mat-sort-header-sorted {
   color: black;
}
.timer {
    background: #010101;
    // border-radius: 50%;
    color: #f1f1f1;
    /* display: inline-block; */
    font-weight: bold;
    /* line-height: 40px; */
    /* margin-right: 5px; */
    /* text-align: center; */
    // width: 10px;
    text-align: center;
}
.font-bold{
    font-weight: bold;
}